[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = ssh://github.com/bling/vim-airline
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = ssh://github.com/tpope/vim-fugitive
